# Application environment configuration
DB_URL=jdbc:mysql://localhost:3306/vocalearn_demo_db
DB_USERNAME=root
DB_PASSWORD=your_mysql_password

# Gmail SMTP
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=your_jwt_secret

# MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET=vocalearn

# VNPay
VNPAY_TMN_CODE=your_vnpay_tmn_code
VNPAY_HASH_SECRET=your_vnpay_hash_secret
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8080/api/payment/vnpay-return
VNPAY_IPN=http://localhost:8080/api/payment/vnpay-ipn
